<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"> <a routerLink="/compras">Compras</a></li>
      <li class="breadcrumb-item"> <a routerLink="/listado-proveedores">Proveedores</a></li>
      <li class="breadcrumb-item" aria-current="page"> Añadir Proveedor</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
    <span>Añadir un nuevo proveedor</span>
    <button class="btn btn-primary" routerLink="/listado-proveedores">Volver</button>
</div>

<!-- Copiado carpeta formularios angular -->
  <div class="col-md-8 offset-md-2 col-12">
    <div class="formulario">
    <h1>Crear proveedor</h1>
    <form [formGroup]="proveedorForm" (ngSubmit)="crearProv()">
      <div class="form-group">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="cif" placeholder="CIF">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="direccion" placeholder="Direccion">
      </div> 
      <div class="form-group">
          <input type="number" class="form-control" formControlName="cp" placeholder="Codigo Postal">
      </div> 
      <div class="form-group">
          
          <input type="text" class="form-control" formControlName="localidad" placeholder="Localidad">
      </div>    
      <div class="form-group">
          <select class="form-control" formControlName="provincia">
              <option *ngFor="let provincia of provincias" [value]="provincia" [ngClass]="{bandera: provincia === 'Gibraltar'}">
                  {{provincia}}
              </option>
          </select>

      </div>   
      <div class="form-group">
          <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono">
      </div>
      <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="contacto" placeholder="Contacto">
      </div>
        <button type="submit" class="btn btn-primary">Añadir proveedor</button>
        <button routerLink="/listado-proveedores" class="btn btn-danger">Cancelar</button>
    </form>
    <hr>
  </div>
</div>
